$col-primary: #c2185c;

// auth
$col-auth-titles-background-light: darken($col-primary, 5%);
$col-auth-titles-background-dark: darken($col-primary, 33%);
$col-text-auth-title-small: #ffffff;
$col-text-auth-version: rgba(#ffffff, 0.65);
$col-text-auth-title-big: #ffffff;

// sidebar
$col-sidebar-background: #e9eaed;
$col-sidebar-text: rgba(#212121, 0.7);
$col-footer-text: #212121;
$col-sidebar-active-elem-text: rgba($col-sidebar-text, 1);
$col-sidebar-active-elem-background: #f2f2f4;

$col-btn: $col-primary;
$col-button-disabled: $col-btn;
$col-text-page-heading: $col-primary;

$col-top-bar-tab-active: $col-btn;
$col-text: #212121;
$col-field-txt: $col-text;
$col-link: $col-text;
$col-app-content-background: #f6f8fb;
$col-top-bar-background: #ffffff;

$col-text-secondary: #837fa1;
$col-btn-txt: #ffffff;
$col-message-box-text: #ffffff;

$statistics-table-row-btn-hover-bg: darken($col-app-content-background, 3%);
$statistics-table-row-btn-active-bg: darken($col-app-content-background, 10%);