$col-primary: #ffda03;

// auth
$col-auth-titles-background-light: #212121;
$col-auth-titles-background-dark: #212121;
$col-text-auth-title-small: #ffffff;
$col-text-auth-version: rgba(#ffffff, 0.65);
$col-text-auth-title-big: #ffffff;

$col-btn: #ff615b;
$col-text-page-heading: $col-primary;
$col-sidebar-background: #212121;
$col-sidebar-text: #e9eaed;
$col-footer-text: rgba(#e9eaed, 0.6);

$col-top-bar-tab-active: $col-btn;
$col-text: #212121;
$col-field-txt: $col-text;
$col-link: $col-text;
$col-sidebar-active-elem-text: #212121;
$col-sidebar-active-elem-background: #f6f8fb;
$col-app-content-background: #f6f8fb;
$col-top-bar-background: #ffffff;

$col-text-secondary: #837fa1;
$col-btn-txt: #ffffff;
$col-message-box-text: #ffffff;

$statistics-table-row-btn-hover-bg: darken($col-app-content-background, 3%);
$statistics-table-row-btn-active-bg: darken($col-app-content-background, 10%);
